@import "./var.scss";
@import "../mixins/mixins.scss";
.c-mr10 {
    margin-right: 10px;
}
.c-mr20 {
    margin-right: 20px;
}
.c-mt10 {
    margin-top: 10px;
}
.c-mb10 {
    margin-bottom: 10px;
}
.c-ml10 {
    margin-left: 10px;
}
.c-ml20 {
    margin-left: 20px;
}

.c-mtb10 {
    margin: 10px 0;
}

.c-ptb10 {
    padding: 10px 0;
}
.c-ptb20 {
    padding: 20px 0;
}
.c-plr20 {
    padding: 0 20px;
}
.c-pd10 {
    padding: 10px;
}
.c-pd20 {
    padding: 20px;
}

.c-right {
    float: right;
}
.c-left {
    float: left;
}

.c-ft12 {
    font-size: $--font-size-extra-small;
}
.c-ft14 {
    font-size: $--font-size-base;
}
.c-ft16 {
    font-size: $--font-size-medium;
}
.c-ft18 {
    font-size: $--font-size-large;
}
.c-ft20 {
    font-size: $--font-size-extra-large;
}
.c-fwb {
    font-weight: bold;
}

.c-tc {
    text-align: center;
}
.c-tr {
    text-align: right;
}

.c-light {
    color: $--color-light;
}
.c-danger {
    color: $--color-danger;
}
.c-info {
    color: $--color-info;
}
.c-warm {
    color: $--color-warning;
}
.c-success {
    color: $--color-success;
}

.divider {
    border-bottom: 1px solid #909399;
}

.flex-between {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    margin-right: 10px;
}

/* vant组件样式 
 -------------------------- */
.van-tab--active {
    color: $--color-info !important;
}
.van-tabs__line {
    background-color: $--color-info !important;
}
.van-button--normal {
    height: 38px;
}
.soa-list-right-btn {
    height: 30px;
    min-width: 60px;
}
.van-button {
    border-radius: 6px;
}
// 折叠框 右侧放不下
.van-collapse-item {
    .van-cell__title {
        flex: unset;
        width: 100px;
    }
}
// 时间选择控件，因为弹框中也会使用，将z-index设置超大，防止被遮挡
.mx-datepicker-popup {
    z-index: 1000000000000 !important;
}
/* 业务样式 
 -------------------------- */
// 更多按钮
.soa-gengduo {
    width: 10%;
    text-align: center;
    position: relative;
    // 更多操作下拉框
    .soa-op__dropdown {
        z-index: 5;
        position: absolute;
        right: 10px;
        top: 25px;
        width: 100px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background: #ffffff;
        padding: 7px;
        div li {
            height: 30px;
            line-height: 30px;
        }
        & div > li:not(:last-child) {
            border-bottom: 1px solid #f5f6f8;
        }
    }
}

// 根据customCell设置 van-form van-field的样式
.soa-custom-form {
    padding: 10px;
    .van-field {
        .van-field__label {
            text-align: right;
            flex: unset;
        }
        .van-field__value {
            width: 100%;
            flex: unset;
            .sao-input__select {
                width: 100%;
                border: none;
                color: #0e7df3;
                background-color: #ffffff;
            }
        }
        &.van-cell--required {
            &::before {
                display: none;
            }
            .van-field__label {
                margin-right: 14px;
                position: relative;
                width: 6em;
                &::after {
                    position: absolute;
                    right: -8px;
                    color: #ee0a24;
                    font-size: 14px;
                    content: "*";
                }
            }
        }
    }
    &.soa-search-form {
        padding: 0;
    }
}

// 有边框的项
.soa-box-item {
    @include base-between;
    padding: 5px 10px;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    // 宿舍检查模块，床位检查
    &.check-item {
    }
}

// 提交按钮,单个按钮居中，多个按钮弹性布局
.soa-btn-box {
    padding: 10px 0;
    text-align: center;
}

// 头像
.soa-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

// 列表搜索表单
.soa-list__search {
    .title {
        text-align: center;
        border-bottom: 1px solid #f5f6f8;
        box-shadow: 0 8px 6px rgba(0, 0, 0, 0.08);
        .arrow-down {
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 8px solid $--color-light;
            vertical-align: middle;
        }
    }
}

// 统计行展示，宿舍total使用
.soa-list-total {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background: #f2f2f2;
    padding: 10px 5px;
    margin: 8px 0 12px 0;
    .total-item {
        display: flex;
        .lable {
            text-align: right;
            width: 50%;
        }
    }
}
@media only screen and (max-width: 440px) {
    .soa-list-total {
        .total-item {
            width: 50%;
        }
    }
}
@media only screen and (min-width: 440px) {
    .soa-list-total {
        .total-item {
            width: 33%;
        }
    }
}
