$grey: #909399;
$lightGrey: #F8F8F8;
$danger: #EE0A24;
$primary: #1989FA;
$warm: #FF976A;
$success: #07C160;


.mr10 {margin-right: 10px;}
.mr20 {margin-right: 20px;}
.mt10 {margin-top: 10px;}
.mb10 {margin-bottom: 10px;}
.ml10 {margin-left: 10px;}
.ml20 {margin-left: 20px;}

.mtb10{margin: 10px 0;}

.ptb10 {padding: 10px 0;}
.ptb20 {padding: 20px 0;}
.plr20 {padding: 0 20px;}
.pd10{padding: 10px;}
.pd20{padding: 20px;}

.right {float: right;}
.left {float: left;}

.ft12 {font-size: 12px;}
.ft14 {font-size: 14px;}
.ft16 {font-size: 16px;}
.ft18 {font-size: 18px;}
.ft20 {font-size: 20px;}
.fwb {font-weight: bold;}

.tc{text-align: center;}
.tr{text-align: right;}


.t-light{color:$grey;}
.t-danger{color: $danger;}
.t-info{color: $primary;}
.t-warm{color: $warm;}
.t-success{color: $success;}

.divider{border-bottom: 1px solid $grey;}

.van-tabs__line{background-color: $primary!important;}



