@import "./var.scss";
.mr10 {
    margin-right: 10px;
}
.mr20 {
    margin-right: 20px;
}
.mt10 {
    margin-top: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.ml10 {
    margin-left: 10px;
}
.ml20 {
    margin-left: 20px;
}

.mtb10 {
    margin: 10px 0;
}

.ptb10 {
    padding: 10px 0;
}
.ptb20 {
    padding: 20px 0;
}
.plr20 {
    padding: 0 20px;
}
.pd10 {
    padding: 10px;
}
.pd20 {
    padding: 20px;
}

.right {
    float: right;
}
.left {
    float: left;
}

.ft12 {
    font-size: 12px;
}
.ft14 {
    font-size: 14px;
}
.ft16 {
    font-size: 16px;
}
.ft18 {
    font-size: 18px;
}
.ft20 {
    font-size: 20px;
}
.fwb {
    font-weight: bold;
}

.tc {
    text-align: center;
}
.tr {
    text-align: right;
}

.t-light {
    color: $--color-light;
}
.t-danger {
    color: $--color-danger;
}
.t-info {
    color: $--color-info;
}
.t-warm {
    color: $--color-warning;
}
.t-success {
    color: $--color-success;
}

.divider {
    border-bottom: 1px solid #909399;
}
.van-tab--active{
    color: $--color-info !important;
}
.van-tabs__line {
    background-color: $--color-info !important;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.van-button{
   border-radius: 6px;
   height: 38px;
}
// 更多按钮
.soa-icon-gengduo {
    width: 10%;
    text-align: center;
    position: relative;
}
// 更多操作下拉框
.soa-op__dropdown {
    z-index: 5;
    position: absolute;
    right: 10px;
    top: 25px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #ffffff;
    padding: 10px;
    li {
        height: 40px;
        line-height: 40px;
    }
    & > li:not(:last-child) {
        border-bottom: 1px solid #f5f6f8;
    }
    &.op-more {
        right: 40px;
        top: 45px;
    }
}
