$--color-success: #07c160 !default;
$--color-warning: #ff976a !default;
$--color-danger: #ee0a24 !default;
$--color-info: #1989fa !default;
$--color-light: #909399 !default;


$--font-size-extra-large: 20px !default;
$--font-size-large: 18px !default;
$--font-size-medium: 16px !default;
$--font-size-base: 14px !default;
$--font-size-small: 13px !default;
$--font-size-extra-small: 12px !default;